/* Icons Box */
/* -------------------------------------------------- */
.fw-iconbox .fw-iconbox-text {
  padding-bottom: 22px;
}
.fw-iconbox .fw-iconbox-text p:last-child {
  margin-bottom: 0;
}
.fw-iconbox .fw-iconbox-image {
  text-align: center;
}
.fw-iconbox .fw-iconbox-image img {
  height: 100%;
}

/* Icon box style 1 */
.fw-iconbox-1 {
  text-align: center;
}
.fw-iconbox-1 .fw-iconbox-image {
  width: 40px;
  font-size: 40px;
  line-height: 40px;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.4em;
}
.fw-iconbox-1 .fw-iconbox-image img {
  border-radius: 3px;
}
.fw-iconbox-1.bg-on .fw-iconbox-image {
  color: #fff;
}
.fw-iconbox-1.fw-iconbox-image-type .fw-iconbox-image {
  line-height: 0;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image {
  border-radius: 50%;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image img {
  border-radius: 50%;
}

/* Icon box style 2 */
.fw-iconbox-2 {
  text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image {
  float: left;
  width: 40px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  position: relative;
}
.fw-iconbox-2 .fw-iconbox-image img {
  border-radius: 3px;
}
.fw-iconbox-2 .fw-iconbox-aside {
  margin-left: 55px;
}
.fw-iconbox-2.fw-icon-right .fw-iconbox-image {
  float: right;
}
.fw-iconbox-2.fw-icon-right .fw-iconbox-aside {
  margin-left: auto;
  margin-right: 95px;
}
.fw-iconbox-2.bg-on .fw-iconbox-image {
  color: #fff;
  margin-right: 20px;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image {
  border-radius: 50%;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image img {
  border-radius: 50%;
}
.fw-iconbox-2.fw-iconbox-image-type .fw-iconbox-image {
  line-height: 0;
}

/* Icon box style 3 */
.fw-iconbox-3 {
  text-align: left;
}
.fw-iconbox-3 .fw-iconbox-image {
  float: left;
  width: 40px;
  font-size: 40px;
  line-height: 40px;
  border-radius: 3px;
  margin-right: 20px;
  position: relative;
}
.fw-iconbox-3 .fw-iconbox-image img {
  border-radius: 3px;
}
.fw-iconbox-3 .fw-iconbox-aside {
  display: inline;
}
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-image {
  margin-right: 20px;
}
.fw-iconbox-3.bg-on .fw-iconbox-text,
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-text {
  padding-top: 0.6em;
}
.fw-iconbox-3.bg-on .fw-iconbox-image {
  color: #fff;
  margin-right: 10px;
}
.fw-iconbox-3.fw-icon-right .fw-iconbox-image {
  float: right;
  margin-right: 15px;
}
.fw-iconbox-3.icon-circle .fw-iconbox-image {
  border-radius: 50%;
}
.fw-iconbox-3.icon-circle .fw-iconbox-image img {
  border-radius: 50%;
}
.fw-iconbox-3.fw-iconbox-image-type .fw-iconbox-image {
  line-height: 0;
}
