/* List */
/* -------------------------------------------------- */
.rtl .fw-list.list-icon li {
  padding-left: 0;
  padding-right: 30px;
}
.rtl .fw-list.list-icon i {
  left: initial;
  right: 8px;
}
