/* Woocommerce Checkout */
/* -------------------------------------------------- */

.woocommerce-checkout .checkout h3 {
  margin-top: 1em;
}
.woocommerce-checkout form.checkout_coupon {
  border: none;
  padding: 0;
}
.woocommerce-checkout-review-order .order-total .amount {
  background-color: #fff8cf;
  padding: 0 2px;
}
.woocommerce-checkout-review-order table.shop_table {
  border-radius: 0;
}
.woocommerce-checkout-review-order table.shop_table thead tr th {
  font-weight: 700;
}
.woocommerce-checkout-review-order table.shop_table tbody td {
  font-size: 100%;
  font-weight: 400;
}
.woocommerce-checkout-review-order table.shop_table tfoot td {
  border-right: none;
}
.woocommerce-checkout-review-order table.shop_table tfoot tr.order-total .amount {
  color: #fff;
  padding: 2px 5px;
}
.woocommerce-checkout-review-order #payment {
  background: #f2f2f2;
  border-radius: 0;
}
.woocommerce-checkout-review-order #payment div.payment_box:after {
  top: 1px;
}
.woocommerce-checkout-review-order #payment .about_paypal {
  margin-left: 5px;
  float: none !important;
}
.woocommerce label {
  font-weight: bold;
}
.woocommerce .form-row .select2-container .select2-choice {
  border-radius: 0;
  border: none;
}
#ship-to-different-address {
  position: relative;
}
#ship-to-different-address-checkbox {
  position: absolute;
  top: 20px;
  left: 0;
}
.woocommerce form .form-row.woocommerce-invalid .selectize-input {
  border-color: #a00;
}