/* Widget buddyPress Members */
.widget_bp_core_members_widget {
  .item-list .item {
    .item-title {
      a {
        font-family: @fw-widget-inner-title-font-family;
        font-size: @fw-widget-inner-title-font-size;
        font-weight: @fw-widget-inner-title-font-weight;
        font-style: @fw-widget-inner-title-font-style;
        line-height: @fw-widget-inner-title-line-height;
        letter-spacing: @fw-widget-inner-title-letter-spacing;
        color: @fw-widget-inner-title-color;

        &:hover {
          color: @fw-widget-inner-title-hover-color;
        }
      }
    }
  }
  .item-options {
    a {
      color: @fw-widget-inner-title-hover-color;

      &:hover {
        color: @fw-widget-inner-title-color;
      }
    }
    .bp-separator {
      margin: 0 5px;
    }
  }
}