/* Widget Twitter Feed */
.fw-widget-twitter .tweet-list {
  margin-bottom: 0;
}
.fw-widget-twitter .tweet-item {
  position: relative;
  font-size: 0.9em;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.fw-widget-twitter .tweet-avatar {
  float: left;
  margin-right: 10px;
}
.fw-widget-twitter .tweet-avatar img {
  margin-top: 0.4em;
}
.fw-widget-twitter .tweet-avatar a {
  display: inline-block;
  line-height: 30px;
  font-style: italic;
}
.fw-widget-twitter .tweet-text {
  position: relative;
  line-height: 1.3em;
}
.fw-widget-twitter .fw-btn-tweet a span:before {
  content: '\f099';
}